.header {
  background-color: #FFF;
  font-style: bold;
  font-size: 20px;
  color: red;
  border: 1px solid red; }
  .header .meta {
    background-color: red; }
  .header.test {
    font-size: 4em;
    margin-bottom: 30px; }
