@import './bin/variables';
@import './bin/base';

.header {
    background-color: #FFF;
    font-style: bold;
    font-size: $font-size;
    color: $theme-color;
    top: $top;
    bottom: $top;
}

.meta {
    background-color: blue;
    .report {
        font-size: 2em;
        .bc {
            display: block;
            background-color: yellow;
        }
    }
}